.modal{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.modal2{
    position: absolute;
    top: 35%;
    left: 40%;
    height: 252px;
    width: 441px;
    justify-content: center;
}
.center{
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}
.m-content{
    padding: 15pt;
    border-radius: 10px;
    background-color: white;
    height: 508px;
    width: 745px;
    transform: scale(0.5);
    transition: 0.4s all;
    pointer-events: none;
}
.m-content3{
    padding: 15pt;
    border-radius: 10px;
    background-color: white;
    height: 675px;
    width: 745px;
    transform: scale(0.5);
    transition: 0.4s all;
    pointer-events: none;
}
.m-content2{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(45, 117, 129);
    backdrop-filter: blur(10px) ;
    height: 252px;
    width: 441px;
}
.m-content.active{
    transform: scale(1);
    pointer-events: all;
}
.m-content3.active{
    transform: scale(1);
    pointer-events: all;
}
.data{

}
.data input{
    outline: none;
}
.di{
    background-color: #F8F8F8;
    border: 1px solid #757575;
}
.h-i{
    height: 40px;
}
.w-i{
    border-radius: 10px;
    width: 631px;
}
.w-i2{
    border-radius: 10px 0 0 10px;
    border: 1px solid #fff;
    width: 630px;
}
.btn{
    border: none;
}
.m-c{
    margin: auto;
}
.wrapper{

}
.logo {
    height: 40px;
    pointer-events: none;
}
.i-mp{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.i-eye{
    height: 24px;
}
.img{
    width: 80%;
}
.img-nav{
    width: 20px;
    height: 20px;
}
.img-login{
    width: 50px;
    height: 50px;
}
@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
    .i-mp{
        animation: App-logo-spin infinite 20s linear;
    }
    .i-eye{
        animation: App-logo-spin infinite 20s linear;
    }
    .img{
        animation: App-logo-spin infinite 20s linear;
    }
    .img-nav{
        animation: App-logo-spin infinite 20s linear;
    }
    .img-login{
        animation: App-logo-spin infinite 20s linear;
    }
}
.pass-l{
    position: relative;
}
.pass-btn{
    position: absolute;
    right: 5%;
    top: 48%;
}
.pass-btn2{
    position: absolute;
    right: 8%;
    top: 48%;
}
.cr-p{
    cursor: pointer;
}
.m-all{
    margin-top: 15pt;
}
.btn-join{
    width: 441px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #FF931E;
    font-size: 30px;
    color: white;
    text-decoration: none;

}
.ccc{
    margin: 0 auto;
}
.btn-join text {
}
.m-t-f{
    margin-top: 90px;
}
.btn-singup{
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #FF931E;
    font-size: 16px;
    color: white;
}
.group{
    justify-content: space-around;
}
.btn-login{
    font-weight: bold;
    color: #3A4E8E;
    font-size: 16px;
    font-family: Roboto;
    text-decoration: underline #3A4E8E;
}
.t-nor{
    font-weight: bold;
    color: #757575;
    font-size: 16px;
    text-transform: lowercase;
}
.nav-menu{
    height: 100vh;
    width: 224px;
    background-color: #FFFFFF;
    border: 1px #757575;
}
.text-menu{
    font-size: 16px;
    text-decoration: none;
}